@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Source+Code+Pro:wght@300&display=swap');

*{
   margin:0;
   padding: 0; 
}

/* body{
    background-color:  whitesmoke;

}
#head{
  background-color: #dae3e7 ;
  border: 1 px solid red;
  margin: auto;
  display: flex;
}
#head>img{
  border-radius: 30% 30% 30% 30%;

  height: 200px;
  width: 300px;
} */



@media all and (min-width: 1024px) and (max-width: 4000px) {
  #info{
    /* background-color: green; */
    /* background-color: rgb(203, 202, 202); */
    /* border: 1px solid red; */
    margin:auto;
    margin-left:150px;
    height:58vh;
    width: 90%;
    margin-top:150px;
    
    
    display: flex;
    justify-content: space-around;
    font-family: 'Source Code Pro', monospace;
  }
  #side{
    background-color: rgb(203, 202, 202);
   /* border:1px solid red; */
   display: flex;
   height: 80px;
   width:100%;
   margin:auto;
   font-family: 'Fira Sans', sans-serif;
   text-align: center;
   align-items: center;
   justify-content:end;
  }  #side>div{
    /* border:1px solid red; */
    padding:5px;
    margin-right:50px;
    display: flex;
   
  }
  #side div h2 {
    list-style: none;
    font-size: 25x;
    margin:30px;
    padding: 10px;
  }
  #side div h2 a{
  text-decoration: none;
  color:black;
  }
  #container{
    /* display: flex; */
  
  }
  .main{
    /* background-color: aqua; */
    width: 90vw;
  }
  #container2{
    /* border:1px solid red; */
    width:90%;
    margin:auto;
    height:200px;
    
   text-align: center;
   font-size: 40px;
   font-weight: bold;
   font-family: 'Fira Sans', sans-serif;
  }


}

.devInfo{
  /* display: flex; */
  justify-content: center;
  flex-direction: column;
  /* justify-content: space-around; */
}
.devPic>img{
  height: auto;
   width:auto;
  
}
.hello{
font-size: 65px;
}
.name{
font-size: 40px;
font-weight: bold;
font-family: 'Fira Sans', sans-serif;
}
.about{
font-size: 30px;
}
.moreabout{
  font-size: 20px;
}
.buttons{
  margin-top: 34px;
}
.buttons button{
  padding:10px;
  color:white;
  background-color:teal;
  border-radius: 25px;
  margin:0px 3px;
  font-size: 21px;
  cursor: pointer;
}
.buttons button:hover{
  background-color: white;
  color:teal;
 
}



@media all and (min-width: 540px) and (max-width: 1024px) {
    body {
       background-color: rgb(223, 207, 190);
    }
    #side{
      background-color: rgb(203, 202, 202);
     /* border:1px solid red; */
     display: flex;
     height: 80px;
     width:100%;
     margin:auto;
     font-family: 'Fira Sans', sans-serif;
     text-align: center;
     align-items: center;
     justify-content:end;
    }
    #side>div{
      /* border:1px solid red; */
      padding:5px;
      margin-right:50px;
      display: flex;
     
    }
    #side div h2 {
      list-style: none;
      font-size: 20x;
      margin:15px;
      padding: 10px;
    }
    #side div h2 a{
    text-decoration: none;
    color:black;
    }
    #container{
      /* display: flex; */
    
    }
    .main{
      /* background-color: aqua; */
      width: 90vw;
    }

    #info{
      /* background-color: green; */
      /* background-color: rgb(203, 202, 202); */
      /* border: 1px solid red; */
      margin:auto;
      margin-left:50px;
      height:auto;
      width:auto;
      
      
      display: flex;
      /* justify-content: space-around; */
      
      justify-content: space-between;
      font-family: 'Source Code Pro', monospace;
    }
    .devInfo{
      /* display: flex; */
      justify-content: center;
      /* flex-direction: column; */
      /* justify-content: space-between; */
    }
    .devPic>img{

      height: 350px;
      width:200px;
       
      
    }
    .hello{
    font-size: 40px;
    }
    .name{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
    }
    .about{
    font-size: 20px;
    }
    .moreabout{
      margin-top:5px;
      font-size: 15px;
     font-stretch: extra-condensed;
    }
    .buttons{
      margin-top: 34px;
    }
    .buttons button{
      padding:10px;
      color:white;
      background-color:teal;
      border-radius: 25px;
      margin:0px 3px;
      font-size: 15px;
      cursor: pointer;
    }

    
}
@media all and (min-width: 320px) and (max-width: 540px) {
    body {
      
      background-color: rgb(203, 202, 202);
    
    }
    #side{
      background-color: rgb(203, 202, 202);
     /* border:1px solid red; */
     display: flex;
     height: 150px;
     width:100%;
     margin:auto;
     font-family: 'Fira Sans', sans-serif;
     text-align: center;
     align-items: center;
     justify-content:center;
    }
    #side>div{
      /* border:1px solid red; */
      padding:5px;
      /* margin-right:50px; */
      /* display: flex; */
      width:100%;
    }
    #side div h2 {
      list-style: none;
      font-size: 10x;
      background-color: white;
      
      margin:5px;
      /* padding: 10px; */
    }
    #side div h2 a{
    text-decoration: none;
    color:black;
    }
    #container{
      /* display: flex; */
    
    }
    .main{
      /* background-color: aqua; */
      width: 90vw;
    }
    #info{
      /* background-color: green; */
      /* background-color: rgb(203, 202, 202); */
      /* border: 1px solid red; */
      margin:auto;
      margin-left:50px;
      height:auto;
      width:auto;
      margin-top:50px;
      
      /* margin-left: 150px; */
      /* justify-content: space-around; */
      
      /* justify-content: space-between; */
      font-family: 'Source Code Pro', monospace;
    }
    .devInfo{
      /* display: flex; */
      /* justify-content: center; */
      /* flex-direction: column; */
      /* justify-content: space-between; */
    }
    .devPic>img{
      margin-top: 40px;
      height: 300px;
      width:200px;
       
      
    }
    .hello{
    font-size: 40px;
    }
    .name{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
    }
    .about{
    font-size: 20px;
    }
    .moreabout{
      font-size: 15px;
    }
    .buttons{
      margin-top: 34px;
    }
    .buttons button{
      padding:10px;
      color:white;
      background-color:teal;
      border-radius: 25px;
      margin:0px 3px;
      font-size: 15px;
      cursor: pointer;
    }


  } 