*{
   margin:0px;
   padding: 0px; 
}

body{
    background-color:  whitesmoke;

}
#head{
  background-color: #dae3e7 ;
  border: 1 px solid red;
  margin: auto;
  display: flex;
}
#head>img{
  border-radius: 30% 30% 30% 30%;

  height: 200px;
  width: 300px;
}


@media all and (min-width: 720px) and (max-width: 1024px) {
    body {
      background-color: pink;
    }
}
@media all and (min-width: 320px) and (max-width: 720px) {
    body {
      background-color: brown;
    }
  }